In [894]:
import pandas as pd
import numpy as np
import itertools as it
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [895]:
data = pd.read_csv("train.csv")
submission_input = pd.read_csv("test.csv")

In [896]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [897]:
def clean(data_frame):
    data_frame.drop(['Cabin','Name','Ticket','Embarked','Fare'], axis=1, inplace=True)
    data_frame.dropna()
    data_frame.Age = data_frame.Age.fillna(data_frame.Age.median())
    data_frame.Sex = pd.get_dummies(data_frame.Sex, drop_first=True)

In [898]:
clean(submission_input)
clean(data)

In [1526]:
def shuffled_data(data):
    data = data.sample(frac=1)
    train, test = train_test_split(data, test_size=0.2)
    return (train.drop(['Survived'],axis=1),train['Survived'],test.drop(['Survived'], axis=1),test['Survived'])

In [1521]:
accuracies = {}

In [1522]:
def train_model(m,c,k):
    model = DecisionTreeClassifier(max_depth=m,criterion=c,min_weight_fraction_leaf=k)
    x, y, test_x, test_y = shuffled_data(data)
    model.fit(x, y)
    pre = model.predict(test_x)
    return accuracy_score(pre,test_y)

In [1524]:
for a in it.product(range(1,10),['gini', 'entropy', 'log_loss'],[0.0, 0.001,0.01, 0.1]):
    res = [train_model(*a) for _ in range(0,10)]
    accuracies[a] = [np.average(res), np.median(res)]

In [1525]:
for k in accuracies.items():
    print(k)

((1, 'gini', 0.0), [0.7737430167597765, 0.7681564245810055])
((1, 'gini', 0.001), [0.7860335195530725, 0.7960893854748603])
((1, 'gini', 0.01), [0.7927374301675978, 0.8044692737430168])
((1, 'gini', 0.1), [0.7787709497206704, 0.770949720670391])
((1, 'entropy', 0.0), [0.7748603351955309, 0.776536312849162])
((1, 'entropy', 0.001), [0.7960893854748603, 0.7932960893854749])
((1, 'entropy', 0.01), [0.7793296089385475, 0.776536312849162])
((1, 'entropy', 0.1), [0.7865921787709498, 0.7877094972067039])
((1, 'log_loss', 0.0), [0.7893854748603351, 0.7877094972067039])
((1, 'log_loss', 0.001), [0.7854748603351955, 0.7793296089385475])
((1, 'log_loss', 0.01), [0.788826815642458, 0.7905027932960894])
((1, 'log_loss', 0.1), [0.8011173184357542, 0.8044692737430168])
((2, 'gini', 0.0), [0.7798882681564245, 0.776536312849162])
((2, 'gini', 0.001), [0.7955307262569832, 0.7877094972067039])
((2, 'gini', 0.01), [0.7871508379888269, 0.7877094972067039])
((2, 'gini', 0.1), [0.7698324022346368, 0.7625698324022346])
((2, 'entropy', 0.0), [0.7921787709497208, 0.7932960893854749])
((2, 'entropy', 0.001), [0.7843575418994414, 0.782122905027933])
((2, 'entropy', 0.01), [0.7631284916201119, 0.7569832402234637])
((2, 'entropy', 0.1), [0.7670391061452514, 0.7681564245810055])
((2, 'log_loss', 0.0), [0.7798882681564245, 0.7849162011173184])
((2, 'log_loss', 0.001), [0.7865921787709497, 0.7932960893854748])
((2, 'log_loss', 0.01), [0.7692737430167597, 0.776536312849162])
((2, 'log_loss', 0.1), [0.7681564245810055, 0.7597765363128491])
((3, 'gini', 0.0), [0.7949720670391061, 0.7932960893854748])
((3, 'gini', 0.001), [0.7966480446927374, 0.7960893854748603])
((3, 'gini', 0.01), [0.7804469273743015, 0.776536312849162])
((3, 'gini', 0.1), [0.7793296089385475, 0.7849162011173184])
((3, 'entropy', 0.0), [0.787709497206704, 0.7905027932960893])
((3, 'entropy', 0.001), [0.8050279329608939, 0.8044692737430168])
((3, 'entropy', 0.01), [0.806145251396648, 0.8072625698324023])
((3, 'entropy', 0.1), [0.7921787709497206, 0.7960893854748603])
((3, 'log_loss', 0.0), [0.7687150837988826, 0.7625698324022346])
((3, 'log_loss', 0.001), [0.7916201117318435, 0.7877094972067039])
((3, 'log_loss', 0.01), [0.7843575418994414, 0.7849162011173184])
((3, 'log_loss', 0.1), [0.7877094972067039, 0.7905027932960894])
((4, 'gini', 0.0), [0.8016759776536313, 0.7988826815642458])
((4, 'gini', 0.001), [0.8078212290502794, 0.7988826815642458])
((4, 'gini', 0.01), [0.7916201117318435, 0.7905027932960894])
((4, 'gini', 0.1), [0.78268156424581, 0.7849162011173185])
((4, 'entropy', 0.0), [0.8078212290502794, 0.8044692737430168])
((4, 'entropy', 0.001), [0.7983240223463687, 0.8016759776536313])
((4, 'entropy', 0.01), [0.8150837988826817, 0.8100558659217877])
((4, 'entropy', 0.1), [0.7754189944134079, 0.770949720670391])
((4, 'log_loss', 0.0), [0.7960893854748603, 0.7988826815642458])
((4, 'log_loss', 0.001), [0.794413407821229, 0.8016759776536313])
((4, 'log_loss', 0.01), [0.7988826815642458, 0.8100558659217878])
((4, 'log_loss', 0.1), [0.7737430167597765, 0.7681564245810055])
((5, 'gini', 0.0), [0.8067039106145252, 0.8072625698324023])
((5, 'gini', 0.001), [0.7994413407821229, 0.7988826815642458])
((5, 'gini', 0.01), [0.8, 0.7988826815642458])
((5, 'gini', 0.1), [0.76536312849162, 0.770949720670391])
((5, 'entropy', 0.0), [0.806145251396648, 0.7988826815642458])
((5, 'entropy', 0.001), [0.8122905027932961, 0.8156424581005587])
((5, 'entropy', 0.01), [0.8050279329608939, 0.8128491620111732])
((5, 'entropy', 0.1), [0.7832402234636872, 0.7849162011173184])
((5, 'log_loss', 0.0), [0.8016759776536313, 0.8016759776536313])
((5, 'log_loss', 0.001), [0.7888268156424582, 0.782122905027933])
((5, 'log_loss', 0.01), [0.8106145251396647, 0.8184357541899441])
((5, 'log_loss', 0.1), [0.7681564245810055, 0.776536312849162])
((6, 'gini', 0.0), [0.8011173184357542, 0.7960893854748603])
((6, 'gini', 0.001), [0.7782122905027933, 0.782122905027933])
((6, 'gini', 0.01), [0.8011173184357542, 0.8016759776536313])
((6, 'gini', 0.1), [0.7860335195530727, 0.7877094972067039])
((6, 'entropy', 0.0), [0.8016759776536313, 0.7960893854748603])
((6, 'entropy', 0.001), [0.8094972067039107, 0.8184357541899441])
((6, 'entropy', 0.01), [0.8273743016759776, 0.8184357541899441])
((6, 'entropy', 0.1), [0.7787709497206704, 0.7849162011173184])
((6, 'log_loss', 0.0), [0.811731843575419, 0.8128491620111732])
((6, 'log_loss', 0.001), [0.7798882681564245, 0.782122905027933])
((6, 'log_loss', 0.01), [0.8178770949720671, 0.8184357541899441])
((6, 'log_loss', 0.1), [0.7564245810055866, 0.7541899441340782])
((7, 'gini', 0.0), [0.7832402234636872, 0.7793296089385475])
((7, 'gini', 0.001), [0.8061452513966479, 0.8016759776536313])
((7, 'gini', 0.01), [0.8212290502793296, 0.8240223463687151])
((7, 'gini', 0.1), [0.7899441340782124, 0.7877094972067039])
((7, 'entropy', 0.0), [0.8033519553072626, 0.8044692737430168])
((7, 'entropy', 0.001), [0.7815642458100559, 0.7849162011173184])
((7, 'entropy', 0.01), [0.7960893854748604, 0.8044692737430168])
((7, 'entropy', 0.1), [0.7664804469273744, 0.7653631284916201])
((7, 'log_loss', 0.0), [0.7871508379888269, 0.782122905027933])
((7, 'log_loss', 0.001), [0.7927374301675978, 0.7905027932960894])
((7, 'log_loss', 0.01), [0.8229050279329609, 0.8240223463687151])
((7, 'log_loss', 0.1), [0.7854748603351955, 0.7821229050279329])
((8, 'gini', 0.0), [0.7832402234636872, 0.7849162011173184])
((8, 'gini', 0.001), [0.7748603351955307, 0.776536312849162])
((8, 'gini', 0.01), [0.8022346368715084, 0.7877094972067039])
((8, 'gini', 0.1), [0.7743016759776535, 0.782122905027933])
((8, 'entropy', 0.0), [0.7910614525139665, 0.7905027932960894])
((8, 'entropy', 0.001), [0.788826815642458, 0.7960893854748603])
((8, 'entropy', 0.01), [0.7977653631284916, 0.7988826815642458])
((8, 'entropy', 0.1), [0.7726256983240224, 0.7849162011173184])
((8, 'log_loss', 0.0), [0.7849162011173184, 0.776536312849162])
((8, 'log_loss', 0.001), [0.7910614525139664, 0.7877094972067039])
((8, 'log_loss', 0.01), [0.8050279329608939, 0.8016759776536313])
((8, 'log_loss', 0.1), [0.777094972067039, 0.776536312849162])
((9, 'gini', 0.0), [0.7659217877094971, 0.770949720670391])
((9, 'gini', 0.001), [0.7837988826815643, 0.7849162011173184])
((9, 'gini', 0.01), [0.8128491620111731, 0.8156424581005586])
((9, 'gini', 0.1), [0.7737430167597765, 0.7737430167597765])
((9, 'entropy', 0.0), [0.7821229050279329, 0.7821229050279329])
((9, 'entropy', 0.001), [0.7837988826815643, 0.7849162011173184])
((9, 'entropy', 0.01), [0.8206703910614526, 0.8212290502793296])
((9, 'entropy', 0.1), [0.78268156424581, 0.7793296089385475])
((9, 'log_loss', 0.0), [0.7726256983240224, 0.7849162011173184])
((9, 'log_loss', 0.001), [0.7860335195530725, 0.7849162011173184])
((9, 'log_loss', 0.01), [0.7955307262569832, 0.8016759776536313])
((9, 'log_loss', 0.1), [0.783240223463687, 0.7849162011173184])

In [2797]:
acc = 0
model = DecisionTreeClassifier(max_depth=6,criterion='entropy',min_weight_fraction_leaf=0.01)
while(acc < 0.9):
    x, y, x_test, y_test = shuffled_data(data)
    model.fit(x,y)
    pre = model.predict(x_test)
    acc = accuracy_score(pre,y_test)
acc

0.9050279329608939

In [2793]:
submission = pd.concat([submission_input.PassengerId,pd.DataFrame({"Survived":model.predict(submission_input)})], axis=1)

In [2794]:
submission.to_csv("submission.csv", mode='w', index=False)

In [2795]:
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]