In [674]:
import pandas as pd
import numpy as np
import random as rd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [675]:
data = pd.read_csv("train.csv")
submission_input = pd.read_csv("test.csv")

In [676]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [677]:
def clean(data):
    data.drop(['Cabin','Name','Ticket','Embarked','Fare'], axis=1, inplace=True)
    data.dropna()
    data.Age = data.Age.fillna(data.Age.median())
    data.Sex = pd.get_dummies(data.Sex, drop_first=True)

In [678]:
clean(submission_input)
clean(data)

In [679]:
train, test = train_test_split(data, test_size=0.2)
data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch
0            1         0       3    1  22.0      1      0
1            2         1       1    0  38.0      1      0
2            3         1       3    0  26.0      0      0
3            4         1       1    0  35.0      1      0
4            5         0       3    1  35.0      0      0

In [680]:
accuracies = {}
models = []
y = train['Survived']
test_y = test['Survived']
x = train.drop(['Survived'],axis=1)
test_x = test.drop(['Survived'], axis=1)

In [681]:
def train_model(m,c,k):
    model = DecisionTreeClassifier(max_depth=m,criterion=c,min_weight_fraction_leaf=k, splitter="random")
    model.fit(x, y)
    pre = model.predict(test_x)
    res = accuracy_score(pre,test_y)
    accuracies[f"{m}, {c}, {k}"] = res
    return res

In [682]:
for i in range(1,10):
    for j in ['gini', 'entropy', 'log_loss']:
        for k in [0,0.001,0.01,0.02,0.03,0.1,0.5]:
            res = []
            for n in range(0,10):
                res.append(train_model(i,j,k))
            print(np.mean(res), np.median(res))

0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.7821229050279329 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.7642458100558658 0.7597765363128491
0.7687150837988825 0.7597765363128491
0.770949720670391 0.770949720670391
0.7798882681564245 0.7821229050279329
0.7687150837988825 0.7597765363128491
0.7731843575418994 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.7726256983240223 0.770949720670391
0.7810055865921788 0.7821229050279329
0.7664804469273742 0.7597765363128491
0.7726256983240223 0.770949720670391
0.777094972067039 0.7821229050279329
0.770949720670391 0.770949720670391
0.5865921787709497 0.5865921787709497
0.7664804469273742 0.7597765363128491
0.76536312849162 0.7597765363128491
0.7748603351955307 0.7821229050279329
0.7726256983240223 0.770949720670391
0.7642458100558658 0.7597765363128491
0.7664804469273742 0.7597765363128491
0.5865921787709497 0.5865921787709497
0.7804469273743017 0.7877094972067039
0.7955307262569832 0.7932960893854749
0.783240223463687 0.776536312849162
0.7837988826815642 0.7960893854748603
0.7687150837988825 0.7597765363128491
0.7754189944134078 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.7759776536312849 0.776536312849162
0.7698324022346369 0.7597765363128491
0.7798882681564245 0.7793296089385475
0.7743016759776535 0.7597765363128491
0.759776536312849 0.7597765363128491
0.7731843575418994 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.776536312849162 0.7737430167597765
0.7759776536312849 0.7597765363128491
0.777094972067039 0.7625698324022346
0.777094972067039 0.76536312849162
0.7670391061452513 0.7597765363128491
0.7754189944134078 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.7988826815642458 0.8016759776536313
0.7972067039106145 0.7960893854748603
0.7927374301675977 0.7905027932960894
0.7860335195530727 0.7793296089385475
0.7815642458100559 0.7793296089385475
0.7731843575418994 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.7893854748603352 0.7821229050279329
0.8011173184357542 0.8044692737430168
0.7949720670391061 0.7960893854748603
0.7882681564245809 0.7849162011173184
0.7832402234636872 0.7849162011173184
0.7798882681564245 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.7916201117318435 0.7932960893854748
0.7916201117318435 0.7905027932960894
0.8 0.7988826815642458
0.7893854748603352 0.7905027932960894
0.7782122905027933 0.776536312849162
0.7754189944134078 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.7977653631284916 0.7960893854748603
0.805586592178771 0.8072625698324023
0.7899441340782124 0.7905027932960894
0.7899441340782123 0.7988826815642458
0.783240223463687 0.7849162011173184
0.7687150837988825 0.7597765363128491
0.5865921787709497 0.5865921787709497
0.794413407821229 0.7905027932960894
0.8083798882681565 0.8072625698324023
0.7843575418994413 0.776536312849162
0.788268156424581 0.7905027932960893
0.771508379888268 0.7653631284916201
0.7754189944134078 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.7960893854748603 0.8016759776536313
0.7960893854748603 0.7988826815642458
0.7960893854748604 0.8016759776536313
0.788268156424581 0.7905027932960894
0.7849162011173183 0.7905027932960893
0.770949720670391 0.770949720670391
0.5865921787709497 0.5865921787709497
0.7860335195530725 0.7877094972067039
0.8022346368715084 0.7988826815642458
0.7810055865921788 0.776536312849162
0.7932960893854748 0.7988826815642458
0.7776536312849162 0.776536312849162
0.7731843575418994 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.793854748603352 0.7877094972067039
0.8016759776536313 0.8044692737430168
0.7837988826815642 0.7849162011173184
0.7865921787709497 0.7821229050279329
0.78268156424581 0.7849162011173184
0.770949720670391 0.770949720670391
0.5865921787709497 0.5865921787709497
0.8072625698324023 0.8100558659217877
0.7988826815642458 0.7905027932960894
0.7988826815642457 0.8044692737430168
0.7882681564245809 0.7877094972067039
0.7787709497206704 0.7793296089385475
0.7664804469273742 0.7597765363128491
0.5865921787709497 0.5865921787709497
0.8078212290502794 0.8044692737430168
0.7910614525139665 0.7932960893854749
0.7932960893854748 0.7849162011173184
0.7849162011173184 0.7849162011173184
0.7804469273743017 0.7793296089385475
0.7620111731843574 0.7597765363128491
0.5865921787709497 0.5865921787709497
0.8027932960893855 0.8100558659217877
0.8134078212290502 0.8212290502793296
0.7910614525139664 0.7932960893854748
0.7821229050279329 0.7821229050279329
0.7754189944134078 0.7681564245810055
0.7687150837988825 0.7597765363128491
0.5865921787709497 0.5865921787709497
0.788268156424581 0.7849162011173184
0.8005586592178771 0.8044692737430168
0.7871508379888268 0.7905027932960893
0.7860335195530727 0.7849162011173184
0.7843575418994414 0.7849162011173184
0.7687150837988825 0.7597765363128491
0.5865921787709497 0.5865921787709497
0.8089385474860336 0.8128491620111732
0.8039106145251397 0.8044692737430168
0.7877094972067039 0.7793296089385475
0.782122905027933 0.776536312849162
0.7731843575418994 0.7653631284916201
0.7754189944134078 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.7871508379888268 0.7877094972067039
0.8044692737430168 0.8100558659217877
0.7921787709497206 0.7932960893854749
0.7893854748603352 0.7905027932960894
0.770949720670391 0.7625698324022346
0.770949720670391 0.770949720670391
0.5865921787709497 0.5865921787709497
0.7921787709497206 0.7877094972067039
0.8033519553072626 0.8072625698324023
0.7849162011173185 0.7877094972067039
0.7854748603351955 0.7877094972067039
0.7743016759776535 0.7681564245810055
0.7754189944134078 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.7854748603351955 0.7905027932960894
0.7893854748603353 0.7849162011173184
0.7860335195530727 0.7932960893854748
0.7832402234636872 0.7849162011173184
0.7798882681564245 0.7737430167597765
0.7731843575418994 0.7821229050279329
0.5865921787709497 0.5865921787709497
0.8005586592178771 0.7932960893854749
0.7966480446927374 0.8016759776536313
0.805586592178771 0.7988826815642458
0.7849162011173185 0.7877094972067039
0.7877094972067039 0.7877094972067039
0.770949720670391 0.770949720670391
0.5865921787709497 0.5865921787709497
0.7754189944134079 0.7793296089385475
0.7910614525139664 0.7905027932960893
0.8011173184357542 0.7988826815642458
0.7921787709497206 0.7988826815642458
0.7759776536312849 0.7737430167597765
0.7664804469273742 0.7597765363128491
0.5865921787709497 0.5865921787709497

In [683]:
for k in accuracies.items():
    print(k)

('1, gini, 0', 0.7821229050279329)
('1, gini, 0.001', 0.7821229050279329)
('1, gini, 0.01', 0.7821229050279329)
('1, gini, 0.02', 0.7821229050279329)
('1, gini, 0.03', 0.7821229050279329)
('1, gini, 0.1', 0.7821229050279329)
('1, gini, 0.5', 0.5865921787709497)
('1, entropy, 0', 0.7821229050279329)
('1, entropy, 0.001', 0.7821229050279329)
('1, entropy, 0.01', 0.7821229050279329)
('1, entropy, 0.02', 0.7821229050279329)
('1, entropy, 0.03', 0.7821229050279329)
('1, entropy, 0.1', 0.7821229050279329)
('1, entropy, 0.5', 0.5865921787709497)
('1, log_loss, 0', 0.7821229050279329)
('1, log_loss, 0.001', 0.7821229050279329)
('1, log_loss, 0.01', 0.7821229050279329)
('1, log_loss, 0.02', 0.7821229050279329)
('1, log_loss, 0.03', 0.7821229050279329)
('1, log_loss, 0.1', 0.7821229050279329)
('1, log_loss, 0.5', 0.5865921787709497)
('2, gini, 0', 0.7597765363128491)
('2, gini, 0.001', 0.7821229050279329)
('2, gini, 0.01', 0.7597765363128491)
('2, gini, 0.02', 0.7597765363128491)
('2, gini, 0.03', 0.7821229050279329)
('2, gini, 0.1', 0.7597765363128491)
('2, gini, 0.5', 0.5865921787709497)
('2, entropy, 0', 0.7988826815642458)
('2, entropy, 0.001', 0.7821229050279329)
('2, entropy, 0.01', 0.7597765363128491)
('2, entropy, 0.02', 0.7597765363128491)
('2, entropy, 0.03', 0.7821229050279329)
('2, entropy, 0.1', 0.7597765363128491)
('2, entropy, 0.5', 0.5865921787709497)
('2, log_loss, 0', 0.7821229050279329)
('2, log_loss, 0.001', 0.7597765363128491)
('2, log_loss, 0.01', 0.7597765363128491)
('2, log_loss, 0.02', 0.7821229050279329)
('2, log_loss, 0.03', 0.7821229050279329)
('2, log_loss, 0.1', 0.7597765363128491)
('2, log_loss, 0.5', 0.5865921787709497)
('3, gini, 0', 0.7597765363128491)
('3, gini, 0.001', 0.7932960893854749)
('3, gini, 0.01', 0.7597765363128491)
('3, gini, 0.02', 0.8044692737430168)
('3, gini, 0.03', 0.7597765363128491)
('3, gini, 0.1', 0.7821229050279329)
('3, gini, 0.5', 0.5865921787709497)
('3, entropy, 0', 0.7597765363128491)
('3, entropy, 0.001', 0.7597765363128491)
('3, entropy, 0.01', 0.7597765363128491)
('3, entropy, 0.02', 0.7988826815642458)
('3, entropy, 0.03', 0.7597765363128491)
('3, entropy, 0.1', 0.7597765363128491)
('3, entropy, 0.5', 0.5865921787709497)
('3, log_loss, 0', 0.7597765363128491)
('3, log_loss, 0.001', 0.7988826815642458)
('3, log_loss, 0.01', 0.7597765363128491)
('3, log_loss, 0.02', 0.7597765363128491)
('3, log_loss, 0.03', 0.7653631284916201)
('3, log_loss, 0.1', 0.7597765363128491)
('3, log_loss, 0.5', 0.5865921787709497)
('4, gini, 0', 0.8156424581005587)
('4, gini, 0.001', 0.7541899441340782)
('4, gini, 0.01', 0.7653631284916201)
('4, gini, 0.02', 0.8156424581005587)
('4, gini, 0.03', 0.7653631284916201)
('4, gini, 0.1', 0.7821229050279329)
('4, gini, 0.5', 0.5865921787709497)
('4, entropy, 0', 0.770949720670391)
('4, entropy, 0.001', 0.8268156424581006)
('4, entropy, 0.01', 0.8100558659217877)
('4, entropy, 0.02', 0.7597765363128491)
('4, entropy, 0.03', 0.8044692737430168)
('4, entropy, 0.1', 0.7821229050279329)
('4, entropy, 0.5', 0.5865921787709497)
('4, log_loss, 0', 0.7988826815642458)
('4, log_loss, 0.001', 0.7877094972067039)
('4, log_loss, 0.01', 0.7932960893854749)
('4, log_loss, 0.02', 0.7988826815642458)
('4, log_loss, 0.03', 0.8044692737430168)
('4, log_loss, 0.1', 0.7821229050279329)
('4, log_loss, 0.5', 0.5865921787709497)
('5, gini, 0', 0.7932960893854749)
('5, gini, 0.001', 0.8379888268156425)
('5, gini, 0.01', 0.7932960893854749)
('5, gini, 0.02', 0.7597765363128491)
('5, gini, 0.03', 0.7988826815642458)
('5, gini, 0.1', 0.7821229050279329)
('5, gini, 0.5', 0.5865921787709497)
('5, entropy, 0', 0.7932960893854749)
('5, entropy, 0.001', 0.7877094972067039)
('5, entropy, 0.01', 0.7597765363128491)
('5, entropy, 0.02', 0.7597765363128491)
('5, entropy, 0.03', 0.7541899441340782)
('5, entropy, 0.1', 0.7821229050279329)
('5, entropy, 0.5', 0.5865921787709497)
('5, log_loss, 0', 0.7932960893854749)
('5, log_loss, 0.001', 0.8100558659217877)
('5, log_loss, 0.01', 0.8156424581005587)
('5, log_loss, 0.02', 0.8044692737430168)
('5, log_loss, 0.03', 0.7821229050279329)
('5, log_loss, 0.1', 0.7821229050279329)
('5, log_loss, 0.5', 0.5865921787709497)
('6, gini, 0', 0.8212290502793296)
('6, gini, 0.001', 0.8212290502793296)
('6, gini, 0.01', 0.770949720670391)
('6, gini, 0.02', 0.7988826815642458)
('6, gini, 0.03', 0.7597765363128491)
('6, gini, 0.1', 0.7821229050279329)
('6, gini, 0.5', 0.5865921787709497)
('6, entropy, 0', 0.8212290502793296)
('6, entropy, 0.001', 0.8212290502793296)
('6, entropy, 0.01', 0.770949720670391)
('6, entropy, 0.02', 0.776536312849162)
('6, entropy, 0.03', 0.7653631284916201)
('6, entropy, 0.1', 0.7821229050279329)
('6, entropy, 0.5', 0.5865921787709497)
('6, log_loss, 0', 0.8100558659217877)
('6, log_loss, 0.001', 0.7653631284916201)
('6, log_loss, 0.01', 0.7597765363128491)
('6, log_loss, 0.02', 0.776536312849162)
('6, log_loss, 0.03', 0.7988826815642458)
('6, log_loss, 0.1', 0.7597765363128491)
('6, log_loss, 0.5', 0.5865921787709497)
('7, gini, 0', 0.8268156424581006)
('7, gini, 0.001', 0.7932960893854749)
('7, gini, 0.01', 0.8212290502793296)
('7, gini, 0.02', 0.8100558659217877)
('7, gini, 0.03', 0.8044692737430168)
('7, gini, 0.1', 0.7597765363128491)
('7, gini, 0.5', 0.5865921787709497)
('7, entropy, 0', 0.8100558659217877)
('7, entropy, 0.001', 0.8268156424581006)
('7, entropy, 0.01', 0.776536312849162)
('7, entropy, 0.02', 0.776536312849162)
('7, entropy, 0.03', 0.8044692737430168)
('7, entropy, 0.1', 0.7597765363128491)
('7, entropy, 0.5', 0.5865921787709497)
('7, log_loss, 0', 0.7821229050279329)
('7, log_loss, 0.001', 0.776536312849162)
('7, log_loss, 0.01', 0.7821229050279329)
('7, log_loss, 0.02', 0.8044692737430168)
('7, log_loss, 0.03', 0.7932960893854749)
('7, log_loss, 0.1', 0.7597765363128491)
('7, log_loss, 0.5', 0.5865921787709497)
('8, gini, 0', 0.8212290502793296)
('8, gini, 0.001', 0.8379888268156425)
('8, gini, 0.01', 0.7988826815642458)
('8, gini, 0.02', 0.7653631284916201)
('8, gini, 0.03', 0.7597765363128491)
('8, gini, 0.1', 0.7821229050279329)
('8, gini, 0.5', 0.5865921787709497)
('8, entropy, 0', 0.776536312849162)
('8, entropy, 0.001', 0.7821229050279329)
('8, entropy, 0.01', 0.7821229050279329)
('8, entropy, 0.02', 0.7877094972067039)
('8, entropy, 0.03', 0.7597765363128491)
('8, entropy, 0.1', 0.7821229050279329)
('8, entropy, 0.5', 0.5865921787709497)
('8, log_loss, 0', 0.8268156424581006)
('8, log_loss, 0.001', 0.8100558659217877)
('8, log_loss, 0.01', 0.7932960893854749)
('8, log_loss, 0.02', 0.7821229050279329)
('8, log_loss, 0.03', 0.7988826815642458)
('8, log_loss, 0.1', 0.7821229050279329)
('8, log_loss, 0.5', 0.5865921787709497)
('9, gini, 0', 0.7932960893854749)
('9, gini, 0.001', 0.8268156424581006)
('9, gini, 0.01', 0.7988826815642458)
('9, gini, 0.02', 0.7877094972067039)
('9, gini, 0.03', 0.7597765363128491)
('9, gini, 0.1', 0.7821229050279329)
('9, gini, 0.5', 0.5865921787709497)
('9, entropy, 0', 0.8268156424581006)
('9, entropy, 0.001', 0.7988826815642458)
('9, entropy, 0.01', 0.8324022346368715)
('9, entropy, 0.02', 0.770949720670391)
('9, entropy, 0.03', 0.7597765363128491)
('9, entropy, 0.1', 0.7821229050279329)
('9, entropy, 0.5', 0.5865921787709497)
('9, log_loss, 0', 0.7932960893854749)
('9, log_loss, 0.001', 0.770949720670391)
('9, log_loss, 0.01', 0.7988826815642458)
('9, log_loss, 0.02', 0.7988826815642458)
('9, log_loss, 0.03', 0.770949720670391)
('9, log_loss, 0.1', 0.7597765363128491)
('9, log_loss, 0.5', 0.5865921787709497)

In [684]:
arr=[(a, b) for (a,b) in zip(np.asfarray(x),y)]
rd.shuffle(arr)
arr = np.transpose(arr)

c:\Users\Fagner\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:43: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = getattr(asarray(obj), method)(*args, **kwds)

In [685]:
x_test = np.transpose(np.reshape(np.concatenate(arr[0]), (len(arr[0]),6)))
x_test = pd.DataFrame(dict(zip(x.columns, x_test)))

In [686]:
y_test = pd.Series(arr[1],name="Survived", dtype=np.int64)

In [687]:
model = DecisionTreeClassifier(max_depth=6,criterion='entropy',min_weight_fraction_leaf=0.01)
model.fit(x,y)
pre = model.predict(x_test)
accuracy_score(pre,y_test)

0.8581460674157303

In [688]:

submission = pd.concat([submission_input.PassengerId,pd.DataFrame({"Survived":model.predict(submission_input)})], axis=1)

In [689]:
submission.to_csv("submission.csv", mode='w', index=False)

In [690]:
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]